/*=============================PALETA DE COLORES=============================*/
$color_base : #0098cc;
$color_base2 : #28348a; //Titulos

// Textos
$color_p : #686868;
$color_p2 : #bdbdbd;

// Botones
$color_btn : #74bbda;

// Barra superior
$color_bar : rgba(0,0,0,0.2);

/*===============================FUENTE===============================*/
@font-face {
  font-family: 'palabrassas';
  src:  url('fonts/palabrassas.eot?fma8lt');
  src:  url('fonts/palabrassas.eot?fma8lt#iefix') format('embedded-opentype'),
    url('fonts/palabrassas.ttf?fma8lt') format('truetype'),
    url('fonts/palabrassas.woff?fma8lt') format('woff');
  font-weight: normal;
  font-style: normal;
}
$bold : 700;
$regular : 400;

/*===============================CONFIGURACIÓN GENERAL===============================*/

.txt-center{
	
	text-align: center;
	
}

.inline li{
	display: inline;
}


/*=============================CONTENIDO=============================*/

*{
	margin : 0;
	padding : 0;
	font-family : 'PT Sans', sans-serif;
}

body{
	transition: background-color .5s;
}

.barra{
	position : fixed;
	width : 100%;
	height : 50px;
	background : $color_bar;
	
	h1{
		padding-left: 50px;
		padding-top : 2px;
		font-size: 30px;
		color : #FFF;
		font-weight: $bold;
	}
}
#static{
	transition: margin-left .5s;
}
.contenido{
	position : absolute;
	padding-top: 70px;
	width: 100%;
	min-height: 100%;
	height: auto;
	z-index: -1;
	background: $color_base;
}
.nav{
	float : left;
	margin-top : 16px;
	margin-left : 12px;
	width : 20px;
	height: 14px;
	background-image: url("../img/nav.png");
	
	&:hover{
		cursor: pointer;
	}
}

/*=============================SIDE NAV=============================*/
.sidenav {
    height: 100%; // 100% Alto de pantalla
    width: 0; // Sin ancho
    position: fixed; // Sin desplazamiento
    z-index: 1; // Ubicacion en el contenido
    top: 0; // Sin espacio arriba
    left: 0; // Sin espacio izquierdo
    background-color: #F3F3F3; // D1 de todos
    overflow-x: hidden; // Desplazamiento horizontal desactivado
    padding-top: 60px; // Distancia superior
    transition: 0.5s; // Movimiento suavezongo
	
	a{
		padding: 8px 8px 8px 32px; // Espacios
		text-decoration: none; // Sin subrayado
		font-size: 25px; // Tamaño de fuente
		color: #818181; // Color gris aprox
		display: block; // Vista activada
		transition: 0.3s // Movimiento suavezongo
	}
	
	.cerrar{
		position: absolute; // Posicion absoluta con el contenido
		top: -10px; // Sin espacio arriba
		right: 25px; // Espacio derecha
		font-size: 40px; // Tamaño de fuente
		margin-left: 80px; // Margen izq
		z-index: 10;
		color : #FFF;
	}
	
	&-menu{
		position: absolute;
		top : 172px;
		width: 100%;
		
		li{
			width: 100%;
			padding: 20px 0; //Espacios arriba y abajo
			padding-left : 20px;
			color : $color_p;
			
			&:active, &:hover{
				background: $color_btn;
				color : #FFF;
				cursor: pointer;
			}
		}
	}
}

.portada{
	position : absolute;
	top : 0;
	width: 100%;
	height: 90px;
	background: $color_base2;
}

.perfil{
	position: absolute;
	top: 55px;
	left:85px;
	background: $color_base;
	border-radius: 100%;
	width: 70px;
	height: 70px;
}

.nombre{
	padding-top : 70px;
	width: 100%;	
	text-align: center;
	font-size: 22px;
	font-weight: $regular;
	transition: 0.5s;
	padding-bottom : 10px;
}

hr{
	border-color: $color_bar;
}


/*=============================TERMINA SIDE NAV=============================*/

/*=============================SPLASH=============================*/
.splash{
	
	position : absolute;
	width : 100%;
	height : 100%;
	background: radial-gradient(circle, $color_base, $color_base2);
	background: -webkit-radial-gradient(circle, $color_base, $color_base2);
	background: -moz-radial-gradient(circle, $color_base, $color_base2);
	
	&-decorado{
		position : absolute;
		height: 100%;
		width: 100%;
		background-image: url(../img/decorado-01.png);
		background-repeat: no-repeat;
	}
	
/*-------------Estilos para preloader-------------*/
	
	$preloader :palabrassasLoader;
	
	.cs-loader {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		
		//Clase contenedora
		&-inner{
			transform: translateY(-50%);
			top: 57%;
			position: absolute;
			width: calc(100% - 200px);
			color: #FFF;
			padding: 0 100px;
			text-align: center;
			
			//Estilo para los puntos
			label {
				font-size: 20px;
				opacity: 0;
				display:inline-block;
				
				&:nth-child(6) {
					-webkit-animation: #{$preloader} 4s infinite ease-in-out;
				animation: #{$preloader} 4s infinite ease-in-out;
				}
				
				&:nth-child(5) {
					-webkit-animation: #{$preloader} 3s 100ms infinite ease-in-out;
				animation: #{$preloader} 3s 100ms infinite ease-in-out;
				}
				
				&:nth-child(4) {
					-webkit-animation: #{$preloader} 3s 200ms infinite ease-in-out;
				animation: #{$preloader} 3s 200ms infinite ease-in-out;
				}
				
				&:nth-child(3) {
					-webkit-animation: #{$preloader} 3s 300ms infinite ease-in-out;
				animation: #{$preloader} 3s 300ms infinite ease-in-out;
				}
				
				&:nth-child(2) {
					-webkit-animation: #{$preloader} 3s 400ms infinite ease-in-out;
				animation: #{$preloader} 3s 400ms infinite ease-in-out;
				}

				&:nth-child(1) {
					-webkit-animation: #{$preloader} 3s 500ms infinite ease-in-out;
				animation: #{$preloader} 3s 500ms infinite ease-in-out;
				}
			}
		}
		
	}
	
	@keyframes #{$preloader} {
		0% {
			opacity: 0;
			transform: translateX(-300px);
		}
		33% {
			opacity: 1;
			transform: translateX(0px);
		}
		66% {
			opacity: 1;
			transform: translateX(0px);
		}
		100% {
			opacity: 0;
			transform: translateX(300px);
		}
	}
	
	@-webkit-keyframes #{$preloader} {
	  0% {
		opacity: 0;
		-webkit-transform: translateX(-300px);
	  }
	  33% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	  }
	  66% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	  }
	  100% {
		opacity: 0;
		-webkit-transform: translateX(300px);
	  }
	}

	
/*---------------------Termina preloader----------------------*/
	
	h1{
		position : absolute;
		top : 50%;
		margin-top : -65px;
		width: 100%;
		font-weight: $bold;
		font-size : 55px;
		color : #FFF;
	}
	
	
	
}
h6.powered{	
	position : relative;
	top : 100%;
	margin-top : -30px;
	color: #FFF;
	font-weight: $regular;	
	font-family: 'PT Sans', palabrassas;
}
/*=============================TERMINA SPLASH=============================*/


/*=============================GUIA=============================*/

.guia{
	
	position : absolute;
	width : 100%;
	height: 100%;
	background : $color_base;
	
}

.slide{
	
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background : $color_base;
	
	&-img{
		width: 50%;
		margin-top : 15%;
	}
	
	&-textos{
		position: absolute;
		top : 100%;
		margin-top : -210px;
		width: 100%;
	}
	
	&-h{
		font-weight : $bold;
		color : #FFF;
	}
	
	&-p{
		font-weight: $regular;
		color : #FFF;
		word-wrap : break-word;
		margin : 50px 0;
		margin : auto;
		width: 95%;
	}
	
	&-indicador{
		color: rgba(255,255,255,0.4);
		font-size: 1.5em;		
	}
	
	&-boton{
		position : absolute;
		top : 100%;
		left : 0;
		margin-top: -60px;
		width: 100%;
		height: 60px;
		background: #FFF;
		border: none;
		font-size: 18px;
		font-weight: $bold;
		color: $color_base;
		transition-duration: 0.7s;
		
		&:active{
			background-color: $color_base2;
			color : #FFF;
		}
	}	
}

/*=============================LECCIONES=============================*/

.tarjeta{
	
	width : 84%;
	margin : auto;
	box-shadow: 0 0 10px #DDD;
	padding : 20px;
	background: #FFF;
	margin-bottom: 20px;
	z-index: -1;
	
	h1{
		font-size : 20px;
		color : $color_base2;
		padding-bottom : 2px;
	}
	
	p{
		width : 70%;
		font-size : 14px;
		color : $color_p;
		padding-bottom : 12px;
	}
	
	img{
		position : absolute;
		left: 100%;
		width: 70px;
		margin-top : 10px;
		margin-left: -100px;
	}
	
	ul{		
		li{
			margin-right: 5px;
			font-family: palabrassas;
		}		
	} 
	
	&-i{
		color: #FFF;
		font-size: 14px;
		padding : 6px;
		border-radius: 100%;
		background: $color_btn;
	}

}

/*=============================VOCABULARIO=============================*/

.vocabulario{
	
	position: absolute;
	width: 100%;
	height: 100%;
	background: $color_base;
	
	ul{
		position: absolute;
		width: 100%;
		overflow: scroll;
		top : 40px;
		height: 90%;
		
		li{
			padding: 30px 0;
			font-size: 30px;
			text-align: center;
			font-weight: $bold;
			color : #FFF;
			
			&:hover, &:active{
				background: #FFF;
				color : $color_base;
			}
		}
	}
	
	.explica{
		position : absolute;
		top : 100%;
		left : 0;
		margin-top: -90px;
		width: 100%;
		height: 90px;
		background: #FFF;
		display: table;
		
		h1{
			position: relative;
			display: table-cell;
			color: $color_base2;
			padding-top: 30px;
			padding-left : 30px;
			font-size: 20px;
		}
	}
}


/*=============================404=============================*/

.a404{
	position : absolute;
	width: 100%;
	height: 100%;
	background: $color_base;
	z-index: -1;
	
	&-title{
		color:#FFF;
		text-align:center;
		height: 160px;
		margin-top : 60%;
	}
}

